body {
    display: block;
    text-align: center;
    font-family: arial, sans-serif;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    line-height: 28px;
}

li a {
    display: block;
    color: #000;
    opacity: .75;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    font-size: 13px;
}

li a:hover {
    text-decoration: underline;
}

.leftnav {
    float:left;
}

.rightnav {
    float: right;
}

#appbox {
    cursor: pointer;
    opacity: .55;
    text-decoration: none;
    box-sizing: border-box;
    margin-top: 8px;
    height: 30px;
    width: 30px;
    background-image: url('//ssl.gstatic.com/gb/images/i1_1967ca6a.png');
    background-size: 528px 68px;
    background-position: -138px -33px;
    border-radius: 2px;
}

#signin {
    color: #fff;
    cursor: default;
    text-decoration: none;
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
    border: 1px solid rgb(68, 143, 244);
    border-radius: 2px;
    font-weight: bold;
    outline: none;
    background: rgb(68, 143, 244);
    margin-top: 13px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 10px;
}

#google {
    height: 92px; 
    width: 272px; 
    padding-top: 109px;
    padding-bottom: 20px;
}

#searchContainer {
    display: flex;
    flex-direction: row-reverse;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 46px;
    margin: 0 auto;
    width: 582px;
}
#search {
    flex: 1;
    display: flex;
    padding: auto;
    margin-left: 10px;
    margin-right: 10px;
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0%);
    font-size: 16px;
}

#magnify {
    display: inline-block;
    position: relative;
    margin-top: 10px;
    padding: 5px 8px 0 16px;
    padding-right: 13px;
    padding-left: 14px;
    outline: none;
    border: none;
    width: 20px;
    height: 20px;
    color: #9AA0A6;
    background-color: rgba(0, 0, 0, 0%)
}
#buttonsDiv {
    padding-top: 18px;
    top: 53;
}

.searchButton {
    font-family: arial, sans-serif;
    font-size: small;
    border: none;
    background-color: #f8f8f8;
    color: #5F6368;
    height: 36px;
    width: 147px;
    line-height: 27px;
    cursor: pointer;
    margin: 5px;
}

#fbar {
    background: #f2f2f2;
    line-height: 15px;
    min-width: 980px;
    border-top: 1px solid #e4e4e4;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    font-size: 10pt;
    list-style-type: none;
    margin: 0;
    padding: 0 10px 0 10px;
    overflow: hidden;
}

.leftfbar {
    display: block;
    float:left;
    line-height: 15px;
    color: #000;
    opacity: .75;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    font-size: 10pt;
}

.rightfbar {
    display: block;
    float: right;
    line-height: 15px;
    color: #000;
    opacity: .75;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    font-size: 10pt;
}