body {
    display: block;
    text-align: center;
}

#google {
    height: 92px; 
    width: 272px; 
    padding-top: 109px;
}

#searchContainer {
    display: flex;
    flex-direction: row-reverse;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 482px;
}
#search {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
    outline: none;
}

#magnify {
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
    outline: none;
}
#buttonsDiv {
    padding-top: 18px;
    top: 53;
}

.searchButton {
    font-family: arial, sans-serif;
    font-size: small;
    border: none;
    background-color: #f8f8f8;
    color: #5F6368;
    height: 36px;
    line-height: 27px;
}